<head>
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>


<div class="conrainer">
  <nav class=" navbar-expand " style="  background-color: #D3DFF0 !important; height: 70px;">
    <ul class="navbar-nav" style="height:70px;" ngbDropdown>
      <li class="nav-item">
        <div class="div" style="margin-top: -15px;">
          <img src="../assets/image.png" width="100px" height="100px" style="margin-right: -30px;">
          <span class="title">VulSphinq</span>
        </div>
      </li>
      <li class="nav-item navbar-item ps-2 pe-2 pt-3 me-3 ms-5" routerLink="/home" routerLinkActive="nav-active">
        <div>
          <span class="secondary-title">Home</span>
        </div>
      </li>
      <li class="nav-item navbar-item ps-2 pe-2 pt-3 me-3" ngbDropdownToggle>
        <div >
          <span class="secondary-title">Scan</span>
        </div>
        <div ngbDropdownMenu style="background-color: #D3DFF0">
          <button ngbDropdownItem class="dropdown-item dropdown-title">Network</button>
          <button ngbDropdownItem class="dropdown-item dropdown-title">Vulnerabilities</button>
        </div>
      </li>
      <li class="nav-item navbar-item ps-2 pe-2 pt-3 me-3">
        <div>
          <span class="secondary-title">Hologram Editor</span>
        </div>
      </li>
      <li class="nav-item navbar-item ps-2 pe-2 pt-3 me-3">
        <div>
          <span class="secondary-title">Dashboard</span>
        </div>
      </li>
    </ul>
  </nav>
</div>
<div style="  background-color: #131747;">
  <router-outlet></router-outlet>
</div>